@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500&display=swap');
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f23b23;
  font-family: 'Signika';
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 12vh 88vh;
}

header {
  grid-column: 1/3;
  grid-row: 1;
  display: flex;
  background-color: rgb(241, 241, 241);
  align-items: center;
  height: 100%;
  z-index: 5;
}

h1 {
  padding-left: 16px;
  font-size: 32px;
  cursor: default;
}

aside {
  grid-column: 1;
  grid-row: 2;
  background-color: #777;
  z-index: 2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: #ededed;
}

.input-control {
  margin-top: 15px;
}

.input-control label {
  display: inline-block;
  padding-bottom: 16px;
  font-size: 16px;
  margin-bottom: -8px;
  color: #ededed;
}

.input-control input {
  display: block;
  width: 90%;
  z-index: 10;
  position: relative;
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}

.input-control input:focus,
.input-control input:valid {
  outline: 0;
  border-bottom-color: #333;
}

.origem {
  border: none;
  margin-top: 16px;
}

.origem legend {
  text-align: center;
  font-size: 16px;
}

.radios {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.radios label {
  font-size: 16px;
  margin-right: 8px;
}

.radios input {
  height: 12px;
  width: 12px;
  margin-top: -2px;
}

.form-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.form-btn button {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  transition: filter 0.2s;
  margin: 0 8px;
}

.form-btn button:active {
  filter: brightness(0.8);
}

main {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 8px;
  padding: 16px 0 0 16px;
  width: calc(100% - 16px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.card {
  background-color: #ededed;
  border-radius: 8px;
  padding: 8px 12px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
}

.img-place {
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.img-place img {
  height: 180px;
}

.card h3 {
  font: 40px;
  text-align: center;
}

.card span {
  display: block;
  font-size: 12px;
}

.card p {
  font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  color: white;
}
